{% include 'cabeza.html' %}
    
<div class="container">
    <h1 class="text-center mt-5 mb-5">Base de datos plataformas</h1>
</div>
    <div class="container">
        <div class="row row-col-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Registrar Usuario</h5>
                    </div>
                    <div class="card-body">
                        <form action="/users" method="POST">
                            <label>Nombre</label>
                            <input type="text" class="form-control mb-3" name="nombre">
                            <label>Email</label>
                            <input type="email" class="form-control mb-3" name="email">
                            <label>Plataforma</label>
                            <input type="text" class="form-control mb-3" name="plataforma">
                            <label>Perfil</label>
                            <input type="text" class="form-control mb-3" name="perfil">
                            <label>PIN</label>
                            <input type="text" class="form-control mb-3" name="pin">
                            <label>Fecha de Inicio</label>
                            <input type="date" class="form-control mb-3" name="fecha_inicio">
                            <label>Fecha Final</label>
                            <input type="date" class="form-control mb-3" name="fecha_final">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">Usuarios</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <div class="row row-col-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                                {% for user in users %}
                                    <div class="col">
                                        <li class="list-group-item mb-3">
                                            <form action="/edit/{{user.nombre}}" method="POST">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control" value="{{user.nombre}}" name="nombre">
                                                <label>Email</label>
                                                <input type="email" class="form-control" value="{{user.email}}" name="email">
                                                <label>Plataforma</label>
                                                <input type="text" class="form-control" value="{{user.plataforma}}" name="plataforma">
                                                <label>Perfil</label>
                                                <input type="text" class="form-control" value="{{user.perfil}}" name="perfil">
                                                <label>PIN</label>
                                                <input type="text" class="form-control" value="{{user.pin}}" name="pin">
                                                <label>Fecha de Inicio</label>
                                                <input type="date" class="form-control" value="{{user.fecha_inicio}}" name="fecha_inicio">
                                                <label>Fecha Final</label>
                                                <input type="date" class="form-control" value="{{user.fecha_final}}" name="fecha_final">
                                                <button class="btn btn-primary btn-sm mt-3" type="submit">Editar</button>
                                                <a href="{{url_for('delete', user_name=user.nombre)}}" class="btn btn-danger btn-sm mt-3">Eliminar</a>
                                            </form>
                                        </li>
                                    </div>
                                {% endfor %}
                            </div>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
   {% include 'pie.html' %}
